.trick-card-container {
  background-color:aliceblue;
  display: flex;
  margin: 10px;
  font-size: 12px;
  width:fit-content;
  flex-direction: column;
  height:fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}